@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
}
body{
    margin: 0;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    background-color:whitesmoke ;
}
header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}
header nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}
:root{
    --width-circle: 150vw;
    --radius: calc(100vw / 6);
}
/* bad ma add kiya h header */
.logo-1{
    cursor: pointer;
   
    margin-bottom: 20px;
    height: 52px;
    width: 52px;
    
}
.nav-linkss{
    list-style: none;
}
.nav-linkss li{
    display: inline-block;
    padding: 0px 20px;
    font-family: "Ubuntu", sans-serif;
}
.nav-linkss li a {
    transition: all 0.3s ease 0s;
    color: white;
    font-weight: 600;
    
    
}
.nav-linkss li a:hover{
    color: #c6a969;
}
/* bad ma add kiya h header */
.slider{
    width:100%;
    height: 100vh;
    overflow: hidden; 
    position: relative;
    background-color: #17232A;
    background-image: radial-gradient(#fff3, transparent 50%);
    margin-top: -50px;

}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: transform 0.8s;
    
}
.slider .list .item{
    width: calc(var(--radius) * 2);
    text-align: center;
    transform: rotate(45deg);
    transition: transform 1s;
}
.slider .list .item.active{
    transform: rotate(0deg);
}
.slider .list .item img{
    width: 90%;
    filter: drop-shadow(0 0 20px #000);
}
.slider .content{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #eee;
    width: max-content;
}
.slider .content div:nth-child(2){
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
}
.slider .content div:nth-child(2)::before{
    position: absolute;
    left: 60%;
    bottom: 50%;
    width: 80px;
    height: 80px;
    content: '';
    
    background-size: cover;
    background-repeat: no-repeat;
}
.slider .content div:nth-child(1){
    text-align: left;
    text-transform: uppercase;
    transform: translateY(20px);
}
.slider .content button{
    border: 1px solid #eee5;
    background: transparent;
    color: #eee;
    font-family: Poppins;
    letter-spacing: 5px;
    border-radius: 20px;
    padding: 10px 20px;
}
#prev,
#next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #eee9;
    background-color: #eee5;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 15;
}
#prev{
    left: 20px;
}
#next{
    right: 20px;
}

/* //circle */

.circle{
    pointer-events: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    -webkit-mask: radial-gradient(var(--radius), transparent 100%, #000);
    mask: radial-gradient(var(--radius), #0000 98%, #000);
    backdrop-filter: blur(10px);
    background: radial-gradient( 
        calc(var(--radius) + 1px), #eee5 100%, #eee2
    );
    
}
.circle span{
    display: block;
    position: absolute;
    height: calc(var(--radius) * 2 + 50px);
    top: 50%;
    left: 50%;
    --rotate: 50deg;
    transform: translate(-50%, -50%) rotate(var(--rotate));
    text-transform: uppercase;
    color: #fff;
    font-size: small;
    animation: circleRotate 20s linear infinite;
}
@keyframes circleRotate{
    to{
        transform: translate(-50%, -50%) rotate(calc(var(--rotate) + 360deg));
    }
}
/* vedio container start */
.video-container{
     display: flex;
    /* margin-left: 20px; */
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    /* justify-content: center; */
    height: 490px;
    /* width: 100%; */
    background-color: rgb(212, 212, 212);
    /* align-items: center; */
    
    
}
.slogan_class{
    /* background-color: #8da588; */
    justify-content: center;
    padding-top: 100px;
    padding-left: 90px;
    width: 300px;

}

.slogan{
    font-size: 70px;
    font-family: "Madimi One", sans-serif;
    font-weight: 600;
    font-style: normal;
    
      
}

.video-box{
    /* background-color:#000; */
    /* border-radius: 10px; */
    justify-content: center;
    height: 450px;
    width: 720px;
    overflow: hidden;
    /* border: 50px; */
    border-color: #000;
    padding-top: 20px;

}
.food_loop{
    height: 450px;
    width: 720px; 
    /* box-shadow: 20px; */
    
}

/* .ki_chaida{
    height: ;
    width: ;
} */
/* vedio container end */

/*dhiman trending outlet*/

/*trending items*/
/* .product-container-vedio{
    height: 100px;
    width: 100px;
    background-color: #582f0e;
    justify-content: center;
} */
.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
    /* padding-top: 500px; */
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 300px;
    height: 450px;
    margin-right: 40px;
    border-radius: 10px;
   
  }
  .product-card:hover{
    cursor: pointer;
  }
  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
  }
a{
    text-decoration: none;
    color: #000;
}
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.4;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }
  

/*dhiman trending outlet end*/
.slidingphotos{
    border: 5px solid blue;
}
.offers{
    display: flex;
    border: 5px solid;
}
.offers .offer1{
    border: 2px solid;
    border-radius: 100px;
}
.offers .offer2{
    border: 2px solid;
    border-radius: 100px;
}
.offers .offer3{
    border: 2px solid;
    border-radius: 100px;
}
.offers .offer4{
    border: 2px solid;
    border-radius: 100px;
}
.dishoptions{
    border: 5px solid;
}
.Restaurents{
    display: flex;
    border: 5px solid;
}
.Restaurents .Restaurent1{
    border: 2px solid;
    border-radius: 100px;
}
.Restaurents .Restaurent2{
    border: 2px solid;
    border-radius: 100px;
}
.Restaurents .Restaurent3{
    border: 2px solid;
    border-radius: 100px;
}
.Restaurents .Restaurent4{
    border: 2px solid;
    border-radius: 100px;
}





/* Footer Css  by HC(Harsh Chauhan) 2210990377 */
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: auto;
    background-color: #c6a969;
}
.footer-container{
    
    width: 100%;
    
    
}
.logo-container{
    display: flex;
    justify-content:center;
    margin-top: 20px;
}
.logo{
    width:78px ;
    height:80px;
    margin-right:4px;
    cursor: pointer;
}
.logo-name{
    color: #455f40;
    font-size: 30px;
    padding: 20px 3px ;
    margin-left: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 750;
}
.follow-div{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 9px;
    font-family: "Poppins", sans-serif;
    font-weight: 650px;
}
.follow-us{
    font-weight: 800;
    color:azure;
    font-size: 24px;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius:50px ;
}
.social-links a i{
    font-size: 2em;
    color:#582f0e;
    opacity: 0.9;
}
.social-links a:hover{
    background-color: #8da588;
    transition: 0.5s;
    
}
.social-links a:hover i{
    color:#582f0e;
    transition: 0.5s;

}
.row{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 40px 100px;
}
.footer-col ul{
    list-style: none;
}
.footer-col h4{
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 22px;
    position: relative;

}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -6px;
    background-color: #597E52;
    height: 2px;
    width: 80px;
}
ul li:not(:last-child){
    margin-bottom: 8px;
}
ul li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #582f0e;
    text-decoration: none;
    transition: 0.4s;
}
ul li a:hover{
    color: white;
    padding-left: 2px;
}
.footer-bottom{
    background-color:#212529;
    padding: 20px;
    text-align: center;
}
.footer-bottom p{
    color: white;
}
.Designed{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media(max-width:563px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
        text-align: center;


    }
    .footer-col h4::before{
        all: unset;
    }
    .row{
        display: flex;
        flex-direction: column;
    }

}
@media(max-width:429px){
    .footer-col{
        width: 100%;
        

    }
    .container{
        width: 100%;

    }
    .social-links{
        display: flex;
        justify-content: center;
    }
    
}
@media(max-width:280px){
    .fotter-col{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .social-links{
        display: flex;
        justify-content: center;
    }
}